<h1>Editing Reservation2 Service</h1>

<%= render 'form', reservation2_service: @reservation2_service %>

<%= link_to 'Show', @reservation2_service %> |
<%= link_to 'Back', reservation2_services_path %>
